body {
	background-color: #ede9db;
	
}
#Map {
    width: 100%;
    height: 50%;
    position: relative;
    outline: thin;
    z-index: 1;
}

#buttonContainer {
    display: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	padding: 0px 20px 0px 20px;
	font-size: 12px;
}

#bSport {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #22358c;
    border-radius: 12px;
    border: 3px solid #0f173e;
}

#bSport:hover {
    background-color: #1c2c73;
}

#bSport:active {
    background-color: #22358c;
    box-shadow: 0 5px #666;
}

#bStorico {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #eba432;
    border-radius: 12px;
    border: 3px solid #462e07;
}

#bStorico:hover {
    background-color: #df9216;
}

#bStorico:active {
    background-color: #eba432;
    box-shadow: 0 5px #666;
}

#bBaracca {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #c43133;
    border-radius: 12px;
    border: 3px solid #521415;
    transition: 0.5s;
}

#bBaracca:hover {
    background-color: #a3292b;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bBaracca:active {
    background-color: #c43133;
    box-shadow: 0 5px #666;
}

#bGreen {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #86aa6d;
    border-radius: 12px;
    border: 3px solid #25301c;
    
}

#bGreen:hover {
    background-color: #759a5b;
}

#bGreen:active {
    background-color: #86aa6d;
    box-shadow: 0 5px #666;
}

#bUtilita {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #792d89;
    border-radius: 12px;
    border: 3px solid #33133a;
    
}

#bUtilita:hover {
    background-color: #60236c;
}

#bUtilita:active {
    background-color: #792d89;
    box-shadow: 0 5px #666;
}

#bTutti {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #8c92ac;
    border-radius: 12px;
    border: 3px solid #20222c;
}

#bTutti:hover {
    background-color: #7d83a1;
}

#bTutti:active {
    background-color: #8c92ac;
    box-shadow: 0 5px #666;
}

.bottoniSpan {
    font-size: 100%;
    color: rgb(255, 255, 255);
}

#list {
    text-align: left;
    padding: 40px;
    font-weight: bold;
}

#mapPage {
    text-align: left;
    width: 100%;
}

#map_app {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

#info_page {
    text-align: left;
}

h1.title {
    text-align: center;
}

#img_info {
    display: none;
}

#info_page p {
    padding: 10px;
}

.nav-links
{
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
}
