body {
	background-color: #ff914d;/*#ede9db;*/
	margin: 0;
	
}

header {
	padding: 1px 15px 1px 15px;
	margin: 15px 0px;
	height: 150px;
}

header span#label {
	font-family: Arial, Roboto, Helvetica, sans-serif;
	color: #ffffff;
	font-weight: 600;
	padding-bottom: 10px;
}

header img {
	height: 50px
}

header #finanziamento {
	display: inline-block;
}

header #attuatori {
	display: inline-block;
	text-align: right;
	float: right;
	position: relative;
}

article, div#dettagli {
    font-family: Arial, Roboto, Helvetica, sans-serif;
	font-size: 20px;
	line-height:20px;
	text-align:left;
    padding: 1px 15px 1px 15px;
	margin-bottom: 10px;
    text-shadow: #bb5025;
    color: #ffffff;/*blanchedalmond;*/
   	text-rendering: optimizeLegibility;
  /*colore del testo, tipo di testo, altre info sul testo*/
}
/*
article, div#dettagli {
	  /*background-color: #ffffff;*/
	/*  font-family:  sans-serif;
	  color: #ffffff;
	  font-weight: 350;
	  text-rendering: optimizeLegibility;
	  padding: 1px 15px 1px 15px;
	  margin-bottom: 10px;
}*/


#Map {
    width: 100%;
    height: 50%;
    position: relative;
    outline: thin;
    z-index: 1;
	/*posizione e grandezza della mappa*/
}

#buttonContainer {
    whith: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: 5px;
    left:50px;
    text-align:center;
    z-index: 500;
    justify-content: center;
    flex-wrap: wrap;
    /*contenitore dei bottoni dentro la mappa, posizione e dettagli (z-index non può scendere sotto a 400 attualmente*/
}

#disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	padding: 0px 20px 0px 20px;
	font-size: 12px;
}

#dettagli {
	display: none
}

/*da qui in poi si trovano i dettagli sui bottoni, nominati con 'b' seguito dal nome del bottone. Essi sono tutti uguali e sono divisi in una prima parte (es. bsport) con colore, 
dimensione, posizione, forma ed altro; le ultime due righe impediscono la modifica della forma quando si apre il menù a tendina, la seconda parte, quindi in generale l'aspetto idle.
La seconda parte (es bSport:hover), ne indica il funzionamento quando il mouse ci passa sopra ed infine la terza quando il bottone viene cliccato*/


#bSport {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #22358c;
    border-radius: 12px;
    border: 3px solid #0f173e;
    margin: 1px;
    max-height: 56px;
}

#bSport:hover {
    background-color: #1c2c73;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bSport:active {
    background-color: #22358c;
    box-shadow: 0 5px #666;
}

#bStorico {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #eba432;
    border-radius: 12px;
    border: 3px solid #462e07;
    margin: 1px;
    max-height: 56px;
}

#bStorico:hover {
    background-color: #df9216;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bStorico:active {
    background-color: #eba432;
    box-shadow: 0 5px #666;
}

#bBaracca {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #c43133;
    border-radius: 12px;
    border: 3px solid #521415;
    transition: 0.5s;
    margin: 1px;
    max-height: 56px;
}

#bBaracca:hover {
    background-color: #a3292b;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bBaracca:active {
    background-color: #c43133;
    box-shadow: 0 5px #666;
}

#bGreen {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #86aa6d;
    border-radius: 12px;
    border: 3px solid #25301c;
    margin: 1px;
    max-height: 56px;
    
}

#bGreen:hover {
    background-color: #759a5b;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bGreen:active {
    background-color: #86aa6d;
    box-shadow: 0 5px #666;
}

#bUtilita {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #792d89;
    border-radius: 12px;
    border: 3px solid #33133a;
    margin: 1px;
    max-height: 56px;
    
}

#bUtilita:hover {
    background-color: #60236c;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bUtilita:active {
    background-color: #792d89;
    box-shadow: 0 5px #666;
}

#bTutti {
    color: white;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #8c92ac;
    border-radius: 12px;
    border: 3px solid #20222c;
    margin: 1px;
    max-height: 56px;
}

#bTutti:hover {
    background-color: #7d83a1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#bTutti:active {
    background-color: #8c92ac;
    box-shadow: 0 5px #666;
}

.bottoniSpan {
    font-size: 100%;
    color: rgb(255, 255, 255);
}

#list {
    text-align: left;
    padding: 40px;
    font-weight: bold;
}

#filter {
	position: absolute;
	top: 5px;
	z-index: 2;
}

* {
    /* margin: 0; */
    box-sizing: border-box;
  }

#tendina{
    z-index: 1;
	
}

 /* .container {
    
    padding: 0px;
    display: inline-block;
  }*/
  
  .select-box {
    display: flex;
    width: 150px;
    flex-direction: column;
	margin-top: 5px;
	margin-left: 895px;
  }
  
  /* box dietro */
  
  .select-box .options-container {
    background: #36aea8; 
    color: #f5f6fa;
    max-height: 0;
    width: 90%;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;
    border-radius: 12px;
    order: 1;
    

  }
  /* box dietro */
  
  .selected {
    background: #2596be;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    margin: 1px;
    border: 3px solid #20222c;
    order: 0;
  }
  /* box sopra */
  
  .selected::after {
    content: "";
    background: url("../img/freccia.svg");
    background-size: contain;
    background-repeat: no-repeat;
  
    position: absolute;
    height: 100%;
    width: 32px;
    right: 5px;
    top: 5px;
    
    transition: all 0.4s;
  }
  
  .select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    
    /* overflow-y: scroll; */
  }
  
  .select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
    
  }
  
  .select-box .options-container::-webkit-scrollbar-thumb {
    background: #2596be;
    border-radius: 0 8px 8px 0;
    
  }
  
  /* corposità */
  .select-box .option,
  .selected {
    color: white;
    
    font-size: 16px;
    font-weight: bold;
    padding: 13px 13px;
    cursor: pointer;
    
    border-radius: 12px;
  }
  
  .select-box .option:hover {
    background: #2596be;
    
  }

#mapPage {
    text-align: left;
    width: 100%;
}

#map_app {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

#info_page {
    text-align: left;
}

h1.title {
    text-align: center;
}

#info1, #info2 {
	display: inline;
	float: left;
	margin-bottom:10px;
	margin-right: 20px;
}

#img_info1, #img_info2 {
    height: 300px;
    width: auto;
}

#info_page p {
    padding: 10px;
}

#dati {
	clear:both;
}

.nav-links
{
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  float: right;
}

#puntatore_gps {
    text-align: center;
    width: 31px;
    height: 31px;
    margin-bottom: 25px;
    margin-left: 10px;
    border-radius: 5px;
}

div#banner {
	background-color: #ffffff;
	padding: 1px 15px 1px 15px;
	margin: 0px;
	/*margin-bottom: 10px;*/
}

#banner img{
	width: 100%
}

footer {
	border-top: 1px solid #ffffff;
}
